services:
  postgres:
    image: postgres
    container_name: postgres
    restart: unless-stopped
    volumes:
      - db-data:/var/lib/postgresql/18/docker
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - 5432:5432/tcp
volumes:
  db-data:
